
<div class="row">
  <div class="px-1 position-fixed" id="sticky-sidebar">
    <div class="nav flex-column flex-nowrap vh-100 overflow-auto text-white p-2">
        <a  routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/fields']" class="nav-link">Hyperflux Field</a>
        <a  routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}" [routerLink]="[ fieldId, 'relays']"  class="nav-link">VX Control Relays</a>
        <a href="./" class="nav-link">User Management</a>
      </div>
    </div>
</div>
