<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-default navbar-fixed-top header">
        <fa-icon [icon]="faCircle" class="gi-3x float-left faCircle icon" ></fa-icon>
        <fa-icon [icon]="faCircle" class="gi-3x float-right faCircle icon"></fa-icon>
  </nav>
  </div>
</div>
<div class="row">
  <div class="col-2">
    <div class="sidebar-section">
      <div class="sidebar-item sticky-top">
        <app-sidebar> </app-sidebar>
      </div>
    </div>
  </div>
  <div class="col-10">
    <div class="content-section">
      <div class="row">
        <h1>  {{field.name }} </h1>
      </div>
      <div class="row">
        <div class="col-6" >
          <div class="row field-status">
            <h3 class="float-left"> Field Status</h3>
          </div>
          <div class="card">
            <div class="card-body">
              Field Stability Status
              <h2 [ngClass]="{'critical': field.fluxStateWarning === true, 'normal': field.fluxStateWarning === false}" >  {{ field.fluxStateWarning  | fieldStatus }}</h2>
            </div>
          </div>

            <app-relay [teamId] ="teamId"></app-relay>
        </div>
        <div class="col-6">
          <div class="row utilization-status">
            <div class="col">
              <h3 class="float-left"> Utlization </h3>
            <button type="button" class="btn btn-dark btn-outline-info float-right vertical-center">Edit</button>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="card">
                <div class="card-body">
                  <h4> Encabulation Rate </h4>
                  <p> {{field.encRate | encabulationRate}}</p>
                </div>
              </div>

            </div>
            <div class="col-6">
              <div class="card">
                <div class="card-body">
                  <h4> Superliminal Conns.</h4>
                  {{field.connections}}
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h4> Gravetic Field Aperture Bandwidth </h4>
                   <span> {{field.gfaBandwidthUsage | gfaBandwidthUage }}   / {{field.gfaBandwidthLimit | gfaBandwidthLimit}} </span>
                  <div>
                    <div class="progress progress-bar-height">
                      <div class="progress-bar" role="progressbar"  [style.width]="aperturePercentage + '%'" ></div>
                    </div>
                    <span> {{this.aperturePercentage}}%</span>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h4> Vorscht Space Limit </h4>
                  <span> {{field.vSpaceUsage| vSpaceUsage  }}  / {{field.vSpaceLimit | vSpaceLimit }} Jt Total </span>
                  <div>
                    <div class="progress progress-bar-height">
                      <div class="progress-bar" role="progressbar" [style.width]="vsPercentage + '%'"></div>
                    </div>
                    <span> {{this.vsPercentage}}%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

