@import '../../../assets/variables.scss';

body{
  background-color: $dark-background;
  color: $text-color
}
.card {
  background-color: $dark-background;
  margin: 0px 0px 10px 0px;
}

.container-fluid{
  padding: auto;
  width: 100%;
}

.content-section {
  background: $darker-background;
  height: 1000px;
  min-height: 100vh;
  padding: 1em;
}

.critical {
  color: $alert-danger-color;
  font-size: 30px;
  font-weight: bold;
}

h1{
  color: $text-color
}

h4{
  font-size: 19px;
}

.icon {
  color: #ffffff;
}

.field-status {
  padding-left: 16px;
}

.float-left {
  float: left;
}

.header{
  height: 80px;
  background-color: #1e1e20;
  border-bottom: 1px solid white;
  width: 100%;
}

.gi-3x{font-size: 3em;}

.padding-bottom {
  padding-bottom: 10px;
}

.progress-bar-height{
  height: 10px;
  border: 2px solid $primary-color;
  background-color: $dark-background;
}

* {
  box-sizing: border-box;
}

.sticky {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sidebar-content {
  background: $darker-background;
  padding: 1em;
}



