@import '../../../assets/variables.scss';
@import '../../../assets/customize-bootstrap.scss';


.action-div {
  background-color: #333333;
  padding: 20px 0;
  margin: 2px;
}

body {
  background-color: $dark-background;
  color: $text-color
}

.critical {
  color: $alert-danger-color;
  font-size: 30px;
  font-weight: bolder;
}

.field-form {
  background-color: $form-background;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.float-left {
  float: left;
}

.normal {
  font-size: 30px;
  font-weight: bolder;
}

.padding-bottom {
  padding-bottom: 10px;
}

.p-bar{
  width: 90%;
  float: left;
  padding-top:5px;
}

.p-label{
width: 10%;
float: left;
padding-left: 5px;
}

.progress-bar-height {
  height: 10px;
  border: 2px solid $primary-color;
  background-color: $dark-background;
}

* {
  box-sizing: border-box;
}



