<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-default navbar-fixed-top header">
      <div class="container">
        <fa-icon [icon]="faCircle" class="gi-3x float-left"></fa-icon>
        <fa-icon [icon]="faCircle" class="gi-3x  float-right"></fa-icon>
      </div>
  </nav>
  </div>
</div>
<div class="row">
  <div class="col-2">
    <div class="sidebar-section">
      <div class="sidebar-item sticky-top">
        <app-sidebar> </app-sidebar>
      </div>
    </div>
  </div>
  <div class="col-10">
    <div class="content-section">
      <div class="row">
        <h1> Field Name </h1>
      </div>
      <div class="row">
        <div class="col-6" >
          <div class="row field-status">
            <h3 class="float-left"> Field Status</h3>
          </div>
          <div class="card">
            <div class="card-body">
              Field Stability Status
              <h2> Critical </h2>
            </div>
          </div>

            <div class="row utilization-status">
              <div class="col">
                <h3 class="float-left"> Vx Control Relays </h3>
              <button type="button" class="btn btn-dark btn-outline-info float-right vertical-center">View</button>
              </div>
            </div>
          <div class="card">
            <div class="card-body">
              14 Relays
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row utilization-status">
            <div class="col">
              <h3 class="float-left"> Utlization </h3>
            <button type="button" class="btn btn-dark btn-outline-info float-right vertical-center">Edit</button>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="card">
                <div class="card-body">
                  Encabulation Rate
                </div>
              </div>

            </div>
            <div class="col-6">
              <div class="card">
                <div class="card-body">
                  Superliminal Connections
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  Gravetic Field Aperture Bandwidth
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  Vorscht Space Limit
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

