@import '../../../assets/variables.scss';
@import '../../../assets/customize-bootstrap.scss';

.table, thead {
   border: 1px solid $gray;
  }

thead  th {
  font-weight:lighter;
  font-size: 14px;
}




