$primary-color: #1f8fce;
$secondary-color: #606060;
$font-family: Roboto;
$dark-background: #282829;
$darker-background:  #1e1e20;
$text-color: #cccccc;
$alert-danger-color: #f47e7e;
$card-background: #333333;
$form-background: #222222;
$gray: #606060;
