@import '../../../assets/variables.scss';

.login-form {
  background-color: $darker-background;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.5);
  width: 399px;
  height: 320px;
  margin: 203.5px 251px 0 200px;
  padding: 32px 35px 22px;
}


.margin-center{
  margin: auto;
}

.http-response-message {
  margin-top: 20px;
  padding: 10px, 0, 10px, 0;
}

.registration {
  text-decoration: underline;
}

.registration-link {
  padding-left: 20px;
  color: $text-color;
  font-size: 14px;
}
