@import '../../../assets/variables.scss';

.login-form {
  background-color: $darker-background;
  box-shadow: 0 6px 8px 0 $box-shadow;
  padding: 32px 22px;
}

.http-response-message {
  margin-top: 20px;
  padding: 10px, 0, 10px, 0;
}

.registration {
  text-decoration: underline;
  color: $text-color;
}

.registration-link {
  padding-left: 20px;
  color: $text-color;
  font-size: 14px;
}
