@import './assets/customize-bootstrap.scss';
@import './assets/variables.scss';
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap/scss/bootstrap';
/* You can add global styles to this file, and also import other style files */

body {
  background-color: $dark-background;
  color: $text-color;
  font-family: $font-family;
  overflow-y:hidden;
}

.fluid-container{
  width: 100%;
  padding: 10px;
}

