/* You can add global styles to this file, and also import other style files */

$primary-color: #1f8fce;
$secondary-color: #606060;
$font-family: Roboto;
$dark-background: #282829;
$text-color: #cccccc;
body {
  background-color: $dark-background;
  color: $text-color;
  font-family: $font-family;
}

.container {
  width: 1100px;
  height: 768px;
  flex-grow: 0;
  padding: 0 0 194px;
  background-color: #282829;
}
