@import '../../../assets/variables.scss';
@import '../../../assets/customize-bootstrap.scss';

.sticky {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

option:not(:checked) {
  background-color: $graphite;
  color: $text-color;
}
ngb-pagination ::ng-deep ul > li:not(.active) > a {
  background-color: #333333 !important;
}

.table, thead { border: 1px solid $secondary-color; }

thead  th{
  font-weight:lighter;
  font-size: 14px;
}

table {
  font-weight:lighter;
  font-size: 14px;
}
