@import '../../../assets/variables.scss';
@import '../../../assets/customize-bootstrap.scss';

.container-fluid{
  padding: auto;
  width: 100%;
}

.content-section {
  background: $darker-background;
  height: 1000px;
  min-height: 100vh;
  padding: 1em;
}

em {
  color: #f47e7e; padding-left: 2px;
}
.error input, .error select, .error textarea {
   background-color: #E3C3C5;
  }
.error ::-webkit-input-placeholder {
  color: #999;
}
.error ::-moz-placeholder {
  color: #999;
}
.error :-moz-placeholder {
   color: #999;
  }
.error :ms-input-placeholder {
  color: #999;
}

.gi-3x{font-size: 3em;}

h1{
  color: $text-color
}

.header{
  height: 80px;
  background-color: #1e1e20;
  border-bottom: 1px solid white;
  width: 100%;
}

.icon {
  color: #ffffff;
}

input {
  margin: auto;
  font-size: 16px;
  padding: 10px 8px 9px;
  border-radius: 5px;
  border: solid 1px #606060;
  background-color: rgba(196, 196, 196, 0);
  color: $text-color;

}

input:disabled input {
  border: solid 1px rgba(96, 96, 96, 0.5);
}

input:focus {
  border: solid 1px #59b8ed;
}

input:focus .Inner-Text {
  color: #ffffff;
}

input:focus label {
  color: #59b8ed;
}

input:hover {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    opacity:1.0;
  border: 1px solid gray;
}

.sticky {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sidebar-content {
  background: $darker-background;
  padding: 1em;
}

.sidebar-link {
  font-size: 16px;
  font-weight: bolder;
}



